h1{  font-family: sans-serif;
 font-weight: lighter;
 font-size: 10em;
 width: 30px;
 height: 20px;
 margin-left: 20px;
 margin-bottom: 0;
 /* width:1px; */
 word-wrap: break-word;
margin-right: 2px }

h1:hover {
    color: rgba(240, 193, 182,0.9);
 }
 h2{ width: 200px;
   height: 55px;
   font-family: sans-serif;
   border: black solid}

h2:hover {
    background-color: rgb(240, 193, 182);
 }

.aboutdryskin{ font-size: 20px;
  font-family: sans-serif;
  margin-left: 350px;
  margin-right: 250px; }

  .floated_img{
      float: left;
      margin-left: 100px  }

h3{ font-family: sans-serif;
font-size:2em;
margin-bottom: 30px;
font-weight: bold;}
h3:hover {
    color: rgb(240, 193, 182); }

h4{ font-family: sans-serif;
font-size:2em;
margin-left: 300px;
font-weight: bold;}
h4:hover {
    color: rgb(240, 193, 182);
}

h6{font-family: sans-serif;
font-size:2em;
margin-left: 200px;
margin-bottom: 30px;
font-weight: bold;
}
h6:hover {
    color: rgb(240, 193, 182);}

.prevention{ font-family: sans-serif;
  float: left;
  width: 40%;
margin-left: 100px;
/*margin-right: 600px; */
font-size: 18px
}

.treatments{font-family: sans-serif;
/*  margin-left: 700px;
  margin-right: 10px;*/
  float: right;
  width: 40%;
font-size: 18px}
/* start of dropdown css */
ul{
  list-style-type: none;
  margin: 0;
  top: 0;
  padding: 20px;
  position: fixed;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
  background-color: black;
}
ul::after{
  content: '';
  clear: both;
  display: block;
}
nav>ul>li {
  float: left;
  position: relative;
}
a{
  padding: 15px 70px;
  color: #fff;
  text-decoration: none;
  display: block;


}
a:hover{
  background-color: #F0C1B6;
  color: white;

}
.dropdown{
  display: inline-block;
  position: relative;

}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #F0C1B6;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top:50px;

}
.dropdown:hover .dropdown-content{
  display: block;

}
.dropdown-content a:hover{
  display: block;
}
 /* end of drop down menu css */
