h1{
  color: #C33725;
  margin-top: 150px;
  font-size: 300%;
  margin-left: 30px;
  /*margin-left: 35%;*/
  font-family: sans-serif;
  margin-right: 500px;
  }
h2{
    color: black;
    margin-top: 50px;
    font-size: 140%;
    margin-left: 10px;
    /*margin-left: 35%;*/
    font-family: sans-serif;
    font-style: italic;
    }
.column{
      float:left;
      width: 6%;
      align-content: center;
      margin-left: 50px;
    }
li {
  float: center;
  list-style-type: none;
}

ul{
  list-style-type: none;
  margin: 0;
  top: 0;
  padding: 20px;
  position: fixed;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
  background-color: black;
}
ul::after{
  content: '';
  clear: both;
  display: block;
}
nav>ul>li {
  float: left;
  position: relative;
}

.tooltip {
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

a#cool{
  padding: 20px 20px;
  color: #fff;

}
a#cool:hover{

}
a#pink{
  padding: 15px 70px;
  color: #fff;
  text-decoration: none;
  display: block;

}
a#pink:hover{
  background-color: #F0C1B6;
  color: white;

}
.dropdown{
  display: inline-block;
  position: relative;

}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #F0C1B6;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top:50px;

}
.dropdown:hover .dropdown-content{
  display: block;

}
.dropdown-content a:hover{
  display: block;
}
