h1{
/*margin-top: 0%;*/
color: black;
font-size: 800%;
/*margin-left: 35%;*/
font-family: sans-serif;
}

li{
  font-family: sans-serif;
}

.left{
  margin-top: 40px;
  margin-left: 35px;
  margin-right: 1000px;
}
.right{
  font-family: sans-serif;
  margin-left: 800px;
  margin-top: -320px;
}

h4{
  font-weight: bold;
}
ul{
  list-style-type: none;
  margin: 0;
  top: 0;
  padding: 20px;
  position: fixed;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
  background-color: black;
}
ul::after{
  content: '';
  clear: both;
  display: block;
}
nav>ul>li {
  float: left;
  position: relative;
}
a#pink{
  padding: 15px 70px;
  color: #fff;
  text-decoration: none;
  display: block;


}
a#pink:hover{
  background-color: ;
  color: white;

}
.dropdown{
  display: inline-block;
  position: relative;

}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #F0C1B6;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top:50px;

}
.dropdown:hover .dropdown-content{
  display: block;

}
.dropdown-content a:hover{
  display: block;
}

p{
  font-family: : sans-serif
}

div.scrollmenu {
    background-color: black;
    overflow: auto;
    white-space: nowrap;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: sans-serif;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 35px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #202021;

}
/*body, html {
  height: 200%;
}*/
/* meet the team css */
.header {
  font-style: impact;
  font-size: .5em}


html {
  box-sizing: border-box;

}

/*h1{
  margin-left: 27%;
}*/

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
  display: inline;

}


@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline;

}

.container {
  padding: 0 16px;
  text-align: center;
  display: inline;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  text-align: center;

}

.title {
  color: grey;
}

i{
  color: black;
  font-size: 80px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}



.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
#together{
display: inline;

}
