.dropdownmen {
  z-index: 1;
}
.title{ font-family: 'Amatic SC', cursive;
   font-weight: lighter;
   font-size: 3em;
   text-align: center;
   margin-top: 100px;}

.title:hover {
   color: rgba(240, 193, 182,0.9);
}

.titlelists:hover {
   color: rgba(240, 193, 182,0.9);
}
.misconceptions {
  font-family: sans-serif;
  font-size: 18px;
  margin-left: 40px;
  margin-right: 100px;
  column-count: 2;
  column-rule-style: dotted;
  column-fill: auto;
  column-gap: 32px;

}

/* start of dropdown css */
ul{
  list-style-type: none;
  margin: 0;
  top: 0;
  padding: 20px;
  position: fixed;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
  background-color: black;
}
ul::after{
  content: '';
  clear: both;
  display: block;
}
nav>ul>li {
  float: left;
  position: relative;
}
a{
  padding: 15px 70px;
  color: #fff;
  text-decoration: none;
  display: block;


}
a:hover{
  background-color: #F0C1B6;
  color: white;

}
.dropdown{
  display: inline-block;
  position: relative;

}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #F0C1B6;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top:50px;

}
.dropdown:hover .dropdown-content{
  display: block;

}
.dropdown-content a:hover{
  display: block;
}
 /* end of drop down menu css */
